@use '../mixin/' as mix;
@use '../functions/' as *;

.ly_header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: var(--header-height);
  transition: top 0.5s ease-in-out;

  &.is_display {
    top: 0;
  }

  &.is_hide {
    top: calc(var(--header-height) * -1);
  }
}

.ly_header_inner {
  $width-max-header: 1027px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $width-max-header;
  height: 100%;
  margin: 0 calc(var(--size-width-inner) - 8px);
  padding: 16px 0;
  gap: var(--size-space-md);

  @media print, screen and (min-width: 1178px) {
    margin: 0 auto;
  }
}
