@use '../mixin/' as mix;
@use '../functions/' as *;

.ly_main {
  min-width: 100vw;
  margin-top: var(--header-height);

  &__post {
    margin-top: calc(32px + var(--header-height));
  }
}
