.ly_section {
  margin-top: var(--size-space-lg);

  &:first-of-type {
    margin-top: var(--size-space-xl);
  }

  &__lg {
    position: relative;
    margin-top: var(--size-space-2xl);
  }
}

.ly_section_text {
  margin-top: var(--size-space-sm);
}

.ly_section_title__works {
  position: absolute;
  top: 0;
  left: -24px;
}
