@use './mixin/' as mix;
@use './functions/' as *;
@use './variables/other' as *;

.bl_entry {
  a[target='_blank'] {
    display: inline-block;
    position: relative;
    padding-right: 1.6em;
    transition: opacity 0.3s cubic-bezier(0.3, 0.65, 0.43, 0.74);
    text-decoration: underline;

    &::after {
      content: '';
      position: absolute;
      bottom: 0.3em;
      right: 0.3em;
      width: 1em;
      height: 1em;
      background: url(#{$icon-path}/link.svg) no-repeat center center / contain;
    }

    @include mix.hover {
      opacity: 0.4;
    }
  }

  h3 {
    margin-top: var(--size-space-md);
    padding-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
  }

  ul {
    li {
      list-style: disc inside;
    }
  }

  hr {
    margin: 1.5em auto;
    width: 90%;
    height: 2px;
    background: color(--c-entry-hr);
  }

  img {
    border: 2px solid black;
    border-radius: 10px;
    object-fit: contain;
    margin: 1rem auto;
    max-width: 90%;
  }

  code {
    display: inline-block;
    background-color: #0d1117;
    color: #c9d1d9;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    font-size: 0.9em;
  }
}
