---
import Base from '@/layouts/Base';
import PageTitle from '@/components/PageTitle';
import Footer from '@/components/Footer';

const meta = {
  title: 'ゆりかについて',
  description:
    'もくもくとコーディングをしている時間が幸せです。これから重点的に取り組んでいきたいのはアクセシビリティ！',
};
const pageLink = {
  nextPath: '/portfolio/works',
  nextLabel: '実績と自主制作ページへ進む',
};
---

<Base meta={meta} gridType={'arch'}>
  <PageTitle type={'bubble'} />

  <div class="bl_prof">
    <div class="bl_prof_img">
      <img
        src="/portfolio/image/empty.gif"
        alt="ほげほげ"
        data-src="/portfolio/image/prof.png"
        width="165"
        height="165"
        loading="lazy"
        decoding="async"
      />
    </div><!-- /.bl_prof_img -->
    <ul class="bl_prof_outline">
      <li>1993年生まれ</li>
      <li>広島在住</li>
    </ul><!-- /.bl_prof_outline -->
    <ul class="bl_prof_link">
      <li>
        <a
          href="https://yurika122.com"
          class="el_btn el_circleBtn el_circleBtn__blue"
          aria-label="ブログ"
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <img
            src="/portfolio/image/empty.gif"
            alt="ブログ"
            width="20"
            height="20"
            data-src="/portfolio/icon/pen.svg"
            loading="lazy"
            decoding="async"
          />
        </a>
      </li>
      <li>
        <a
          href="https://github.com/yurika1202"
          class="el_btn el_circleBtn el_circleBtn__blue"
          aria-label="GitHub"
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <img
            src="/portfolio/image/empty.gif"
            alt="GitHub"
            width="20"
            height="20"
            data-src="/portfolio/icon/github.svg"
            loading="lazy"
            decoding="async"
          />
        </a>
      </li>
      <li>
        <a
          href="https://codepen.io/yurika1202"
          class="el_btn el_circleBtn el_circleBtn__blue"
          aria-label="CodePen"
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <img
            src="/portfolio/image/empty.gif"
            alt="CodePen"
            width="20"
            height="20"
            data-src="/portfolio/icon/codepen.svg"
            loading="lazy"
            decoding="async"
          />
        </a>
      </li>
    </ul><!-- /.bl_prof_link -->
    <p class="bl_prof_text">
      2021年のはじめにWeb制作と出会い、そこから一気にコーディングの楽しさに沼りました。
      主に書籍やUdemyなどを使い、独学で勉強をしています。<br />
      セマンティックなマークアップ、 設計に基づく保守性を高めたCSS（DartSass）を考えることが好きです。<br />
      Webアプリ開発にも興味があるので、少しづつ勉強中です。
    </p><!-- /.bl_prof_text -->
  </div><!-- /.bl_prof -->

  <section>
    <div class="el_title_dash">
      <h2 class="js_anime js_anime__boundIn">強い意志を持ってチャレンジします</h2>
    </div><!-- /.el_title_dash -->
    <div class="js_anime js_anime__softIn">
      <p>
        好奇心が旺盛なので、いろんなことに挑戦したい人です。<br />
        一方で完璧主義で慎重派な一面もあり、目標までの道筋を明確にしてから、一つ一つのタスクに確実に向き合っていきます。<br
        />
        そしてやると決めたからには納得するまで諦めない、粘り強さもあります。
      </p>
    </div>
  </section>

  <section>
    <div class="el_title_dash">
      <h2 class="js_anime js_anime__boundIn">やさしいWebづくりを追求しています</h2>
    </div><!-- /.el_title_dash -->
    <div class="js_anime js_anime__softIn">
      <p>
        サイトへ訪れたユーザーに優しく寄り添い、サイト寿命を長くすることを心がけてコーディングをしています。<br />
        アクセシビリティの知見を更に深めていくこと、CSS・JavaScript・SVG・Canvas（WebGL）を用いた心地よいアニメーション表現ができるようになることが目標です。<br
        />
        そしていずれは実装だけでなくデザイン側からもプロジェクトへ関わっていきたいと思っています。
      </p>
    </div>
  </section>
</Base>

<Footer {...pageLink} />

<style lang="scss">
  @use '../styles/mixin/' as mix;

  .bl_prof {
    margin-top: -40px;

    @include mix.mq(md) {
      display: grid;
      grid-template:
        'item1 item4'
        'item2 item4'
        'item3 item4';
      width: 90%;
      margin: -40px auto 0;
      column-gap: var(--size-space-sm);
    }
  }

  .bl_prof_img {
    grid-area: item1;
    width: 165px;
    margin: 0 auto -10px;

    img {
      object-fit: cover;
      width: 100%;
    }

    @include mix.mq(md) {
      width: 265px;
      margin: 0 auto -24px;
    }
  }

  .bl_prof_outline {
    display: flex;
    grid-area: item2;
    align-items: center;
    justify-content: center;
    margin-right: -0.5em;

    li {
      margin-right: 0.5em;

      &:not(:first-of-type) {
        position: relative;
        padding-left: 1em;

        &::before {
          content: '/';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }

  .bl_prof_link {
    display: flex;
    grid-area: item3;
    align-items: center;
    justify-content: center;
    margin-top: var(--size-space-sm);
    gap: var(--size-space-md);
  }

  .bl_prof_text {
    grid-area: item4;
    margin-top: var(--size-space-md);

    @include mix.mq(md) {
      margin-top: 25%;
    }
  }
</style>
