---
import Base from '@/layouts/Base';
import PageTitle from '@/components/PageTitle';
import Footer from '@/components/Footer';

const meta = {
  title: 'ゆりかについて',
  description:
    'もくもくとコーディングをしている時間が幸せです。これから重点的に取り組んでいきたいのはアクセシビリティ！',
};
const pageLink = {
  nextPath: '/portfolio/works',
  nextLabel: '実績と自主制作ページへ進む',
};
---

<Base meta={meta} gridType={'arch'}>
  <PageTitle type={'bubble'} />

  <div class="bl_prof">
    <div class="bl_prof_img">
      <img
        src="/portfolio/image/empty.gif"
        alt="ほげほげ"
        data-src="/portfolio/image/prof.png"
        width="165"
        height="165"
        loading="lazy"
        decoding="async"
      />
    </div><!-- /.bl_prof_img -->
    <ul class="bl_prof_outline">
      <li>1993年生まれ</li>
      <li>広島在住</li>
    </ul><!-- /.bl_prof_outline -->
    <ul class="bl_prof_link">
      <li>
        <a
          href="https://yurika122.com"
          class="el_btn el_circleBtn el_circleBtn__blue"
          aria-label="ブログ"
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <img
            src="/portfolio/image/empty.gif"
            alt="ブログ"
            width="20"
            height="20"
            data-src="/portfolio/icon/pen.svg"
            loading="lazy"
            decoding="async"
          />
        </a>
      </li>
      <li>
        <a
          href="https://github.com/yurika1202"
          class="el_btn el_circleBtn el_circleBtn__blue"
          aria-label="GitHub"
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <img
            src="/portfolio/image/empty.gif"
            alt="GitHub"
            width="20"
            height="20"
            data-src="/portfolio/icon/github.svg"
            loading="lazy"
            decoding="async"
          />
        </a>
      </li>
      <li>
        <a
          href="https://codepen.io/yurika1202"
          class="el_btn el_circleBtn el_circleBtn__blue"
          aria-label="CodePen"
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <img
            src="/portfolio/image/empty.gif"
            alt="CodePen"
            width="20"
            height="20"
            data-src="/portfolio/icon/codepen.svg"
            loading="lazy"
            decoding="async"
          />
        </a>
      </li>
    </ul><!-- /.bl_prof_link -->
    <p class="bl_prof_text">
      2021年のはじめにWeb制作と出会ってから、コーディングの楽しさに夢中な毎日です。<br />
      主に書籍やUdemyなどを使用して独学で勉強をしています。<br />
      セマンティックなマークアップ、CSS設計などを用いて保守性の高いコードを考えることが好きです。<br />
      Webデザインも現在勉強中で、幅広い視野を持ってアクセシブルなサイトを制作することが目標です。
    </p><!-- /.bl_prof_text -->
  </div><!-- /.bl_prof -->

  <section>
    <div class="el_title_dash">
      <h2 class="js_anime js_anime__boundIn">強い意志を持ってチャレンジし続けます</h2>
    </div><!-- /.el_title_dash -->
    <div class="js_anime js_anime__softIn">
      <p>
        やると決めたことは、たとえ道のりが険しくても諦めずやりきる、粘り強さが私の代名詞です。<br />
        Webの勉強は今日まで約2年間独学で学び続けています。<br />
        コードを書いているとエラーに直面しますが、単にエラーメッセージだけで判断せず、設計面やロジック面など多方向から原因を考えるようにしています。<br
        />
        そしてそこからベストな実装法はなにか、何度も試行錯誤することで自力での解決に至ってきました。<br />
        また新しい技術を積極的に日々の勉強へ取り入れ、自身の知識へと落とし込んでいます。
      </p>
    </div>
  </section>

  <section>
    <div class="el_title_dash">
      <h2 class="js_anime js_anime__boundIn">やさしいWebづくりを追求しています</h2>
    </div><!-- /.el_title_dash -->
    <div class="js_anime js_anime__softIn">
      <p>ユーザーに優しく寄り添えるコーディングを目指し、以下3点を意識的に取り組んでいます。</p>
      <ul>
        <li>快適なアニメーションの追求</li>
        <li>保守性の高いコーディングを行い、サイト寿命を延ばす</li>
        <li>アクセシビリティの向上</li>
      </ul>
      <p>
        幅広いユーザーが快適にサイトを利用できる実装法の探究・実践を繰り返し、それぞれのサイトに合った最善を探っていきます。<br
        />
        そしていずれは実装だけでなくデザイン面からもプロジェクトへ関わっていくことが目標です。
      </p>
    </div>
  </section>

  <section>
    <div class="el_title_dash">
      <h2 class="js_anime js_anime__boundIn">できること</h2>
    </div><!-- /.el_title_dash -->
    <ul class="bl_prof_skillList">
      <li class="bl_prof_skillItem bl_prof_skillItem__html js_anime js_anime__softIn">
        <h3>HTML Living Standard</h3>
        <p>
          適切なタグを用いてセマンティックにマークアップ記述を行うこと、そしてWAI-AREAを適材適所に使用することに注力してアクセシビリティを高めるよう意識しています。
        </p>
      </li>
      <li class="bl_prof_skillItem bl_prof_skillItem__css js_anime js_anime__softIn">
        <h3>CSS3</h3>
        <p>
          CSS設計に基づいてスタイリングのスコープ範囲を明確にすることで保守性を高めます。<br />
          特に指定がなければPRECSSを採用しています。
        </p>
      </li>
      <li class="bl_prof_skillItem bl_prof_skillItem__sass js_anime js_anime__softIn">
        <h3>Sass(DartSass)</h3>
        <p>mixinやカスタム関数、制御構文などを活用し、コーディングスピードの向上とより高い保守性を実現します。</p>
      </li>
      <li class="bl_prof_skillItem bl_prof_skillItem__js bl_prof_skillItem__study js_anime js_anime__softIn">
        <h3>JavaScript / TypeScript</h3>
        <p>
          サイトに動きをつけることが可能です。<br />
          フレームワークやサーバサイドの知識を深めて、より高度な実装ができるようになること、クリーンでパフォーマンスの高いコードが書けるようになることを目指して現在勉強中です。
        </p>
      </li>
      <li class="bl_prof_skillItem bl_prof_skillItem__wp js_anime js_anime__softIn">
        <h3>WordPress</h3>
        <p>ニーズに合わせたオリジナルテーマを構築することが可能です。</p>
      </li>
      <li class="bl_prof_skillItem bl_prof_skillItem__github js_anime js_anime__softIn">
        <h3>GitHub</h3>
        <p>
          ターミナルでコマンドを使い、普段から学習時のコード管理を行っています。<br />
          基本的なコマンド操作は理解しており、実務で共同コーディングを行った経験もあります。
        </p>
      </li>
      <li class="bl_prof_skillItem bl_prof_skillItem__a11y bl_prof_skillItem__study js_anime js_anime__softIn">
        <h3>Accessibility</h3>
        <p>
          コーディングを行う際には、常にアクセシブルかどうかを意識しています。<br />
          キーボード操作や各デバイスでの検証を丁寧に行い、NVDAやaxeなどのツールも活用しています。
        </p>
      </li>
    </ul>
  </section>
</Base>

<Footer {...pageLink} />

<style lang="scss">
  @use '../styles/mixin/' as mix;

  .bl_prof {
    margin-top: -40px;

    @include mix.mq(md) {
      display: grid;
      grid-template:
        'item1 item4'
        'item2 item4'
        'item3 item4';
      width: 90%;
      margin: -40px auto 0;
      column-gap: var(--size-space-sm);
    }
  }

  .bl_prof_img {
    grid-area: item1;
    width: 165px;
    margin: 0 auto -10px;

    img {
      object-fit: cover;
      width: 100%;
    }

    @include mix.mq(md) {
      width: 265px;
      margin: 0 auto -24px;
    }
  }

  .bl_prof_outline {
    display: flex;
    grid-area: item2;
    align-items: center;
    justify-content: center;
    margin-right: -0.5em;

    li {
      margin-right: 0.5em;

      &:not(:first-of-type) {
        position: relative;
        padding-left: 1em;

        &::before {
          content: '/';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }

  .bl_prof_link {
    display: flex;
    grid-area: item3;
    align-items: center;
    justify-content: center;
    margin-top: var(--size-space-sm);
    gap: var(--size-space-md);
  }

  .bl_prof_text {
    grid-area: item4;
    margin-top: var(--size-space-md);

    @include mix.mq(md) {
      margin-top: 25%;
    }
  }
</style>
