---
import { SITE } from '../config';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import ArchGrid from '../layout/ArchGrid.astro';
import Footer from '../components/Footer.astro';

import '../styles/page/end.scss';
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE.title} description={SITE.description} />
  </head>
  <body class="ly_bg_gradation">
    <Header />
    <main class="ly_main">
      <ArchGrid>
        <div class="bl_pageTitle bl_pageTitle_icon bl_pageTitle_icon__smile">
          <svg class="el_title_border el_title_border__pageTitle">
            <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central">さいごに</text>
          </svg>
        </div><!-- /.bl_pageTitle -->

        <section class="ly_section__lg">
          <p>
            最後までご覧いただき、ありがとうございます。<br />
            少しでもわたしに興味を持っていただけていましたら、とてもうれしいです。<br />
            もしもご縁がありましたときは、どうぞよろしくお願いいたします。 <br />
          </p>
          <p class="un_end_signature">2022.10 ゆりか</p>
        </section>
      </ArchGrid>
    </main><!-- /.ly_main -->
    <Footer />
  </body>
</html>
