---
import Base from '@/layouts/Base';
import PageTitle from '@/components/PageTitle';
import Footer from '@/components/Footer';

const meta = {
  title: 'おわりに',
  description: 'ゆりかのポートフォリオサイトを最後まで見てくださり、ありがとうございました。',
};
const pageLink = {
  prevPath: '/portfolio/contact',
  prevLabel: 'お問い合わせページへ戻る',
};
---

<Base meta={meta} gridType={'arch'}>
  <PageTitle type={'icon'} />

  <div class="ly_end">
    <p class="js_anime js_anime__softIn">
      最後までご覧いただき、ありがとうございます。<br />
      少しでもわたしに興味を持っていただけていましたら、とてもうれしいです。<br />
      もしもご縁がありましたときは、どうぞよろしくお願いいたします。 <br />
    </p>
    <p class="bl_end_signature js_anime js_anime__softIn">2022.10 ゆりか</p>
  </div>
</Base>

<Footer {...pageLink} />

<style lang="scss">
  @use '../styles/mixin/' as mix;

  .ly_end {
    max-width: 400px;
    margin: var(--size-space-2xl) auto 0;

    @include mix.mq(lg) {
      max-width: 640px;
    }
  }

  .bl_end_signature {
    margin-top: 1.5em;
    text-align: right;
  }
</style>
