---
import Base from '../layout/Base.astro';
import BoxGrid from '../layout/grid/BoxGrid.astro';
import Top from '../layout/Top.astro';
import MainView from '../components/MainView.astro';
import '../styles/page/top.scss';
---

<Base>
  <BoxGrid>
    <MainView>
      <div class="un_top_particle">
        <img src="/img/particle.svg" alt="" width="104" height="70" />
      </div><!-- /.un_top_particle -->
    </MainView>

    <Top />
  </BoxGrid>
</Base>
