---
import { SITE } from '../config';
import BaseHead from '../components/BaseHead.astro';
import BoxGrid from '../layout/BoxGrid.astro';
import MainView from '../components/MainView.astro';
import FooterMinimal from '../components/FooterMinimal.astro';
import '../styles/page/top.scss';
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE.title} description={SITE.description} />
  </head>
  <body class="ly_bg_gradation">
    <BoxGrid>
      <MainView>
        <div class="un_top_particle">
          <img src="/img/particle.svg" alt="" width="104" height="70" />
        </div><!-- /.un_top_particle -->
      </MainView>

      <main>
        <div class="un_top_startBtn">
          <a class="el_btn el_basicBtn" href="/about">はじめからみる<img src="/icon/arrow-lg.svg" alt="" width="56" height="8" loading="lazy" /></a>
        </div><!-- /.un_top_startBtn -->

        <nav class="un_topNav">
          <div class="un_topNav_title">
            <svg>
              <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central">もくじ</text>
            </svg>
          </div><!-- /.un_topNav_title -->
          <div class="un_topNav_contents bl_common_box bl_common_shadow">
            <ol class="bl_pageNav_list" role="menubar">
              <li class="bl_pageNav_item"><a href="/about" role="menuitem">はじめまして</a></li><!-- /.bl_pageNav_item -->
              <li class="bl_pageNav_item"><a href="/works" role="menuitem">実績と自主制作</a></li><!-- /.bl_pageNav_item -->
              <li class="bl_pageNav_item"><a href="/contact" role="menuitem">お問い合わせ</a></li><!-- /.bl_pageNav_item -->
              <li class="bl_pageNav_item"><a href="/end" role="menuitem">さいごに</a></li><!-- /.bl_pageNav_item -->
            </ol><!-- /.bl_pageNav_list -->
          </div><!-- /.un_topNav_contents -->
        </nav><!-- /.un_topNav -->
      </main>
      <FooterMinimal />
    </BoxGrid>
  </body>
</html>
