---
import Base from '../layout/Base.astro';
import Header from '../components/Header.astro';
import ArchGrid from '../layout/grid/ArchGrid.astro';
import WorksCard from '../components/WorksCard.astro';
import Footer from '../components/Footer.astro';

import '../styles/page/works.scss';
---

<Base>
  <Header />
  <main class="ly_main">
    <ArchGrid>
      <div class="bl_pageTitle bl_pageTitle_icon bl_pageTitle_icon__web">
        <svg class="el_title_border el_title_border__pageTitle">
          <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central"
            >実績と自主制作</text
          >
        </svg>
      </div><!-- /.bl_pageTitle -->

      <section class="ly_section__lg">
        <div class="el_title">
          <p>実績</p>
        </div><!-- /.bl_works_sectionTitle -->
        <ul class="bl_works_list">
          <li id="crowdworks">
            <WorksCard
              link={'/crowdworks'}
              tmb={'/works/crowdworks/tmb.png'}
              tmbType={'icon'}
              title={'こども園のサイトと採用サイトのコーディング'}
              comment={'【実績詳細公開不可】JavaScriptでのアニメーションなど、動きのある静的サイトのコーディングをさせていただきました。'}
              skill={'HTML/CSS(DartSass)/JavaScript'}
            />
          </li>
        </ul><!-- /.bl_works_list -->
      </section><!-- /.ly_section__lg -->

      <section class="ly_section__lg">
        <div class="el_title">
          <p>自主制作</p>
        </div><!-- /.bl_works_sectionTitle -->
        <ul class="bl_works_list">
          <li id="directLink">
            <WorksCard
              link={'/directLink'}
              tmb={'/works/directLink/tmb.png'}
              title={'ImageURL for direct link Generator'}
              comment={'GoogleDriveとDropBoxから取得した共有リンクを、直リンク可能なURLに変換するアプリです。'}
              skill={'HTML/CSS(DartSass)/TypeScript'}
            />
          </li>

          <li id="yurilog">
            <WorksCard
              link={'/yurilog'}
              tmb={'/works/yurilog/tmb.png'}
              title={'yurilog.'}
              comment={'自身のブログサイトをオリジナルテーマで作成しました。'}
              skill={'HTML/CSS(DartSass)/JavaScript/WordPress'}
            />
          </li>

          <li id="portfolio">
            <WorksCard
              link={'/portfolio'}
              tmb={'/works/portfolio/tmb.png'}
              title={"Yurika's Portfolio"}
              comment={'実績と自主制作物をまとめた、自身のポートフォリオサイトです。'}
              skill={'HTML/CSS(DartSass)/TypeScript/Astro'}
            />
          </li>
        </ul><!-- /.bl_works_list -->
      </section><!-- /.ly_section__lg -->
    </ArchGrid>
  </main><!-- /.ly_main -->
  <Footer />
</Base>
