@use '../mixin/' as mix;
@use '../functions/' as *;
@use '../variables/other' as *;

.el_btn {
  display: inline-block;
  max-width: 100%;
}

.el_circleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid color(--c-black);
  border-radius: 50%;
  box-shadow: 2px 2px 0 color(--c-black);
  width: inherit;
  height: inherit;

  &__pink {
    background: color(--c-tertiary);
  }

  &__blue {
    background: color(--c-secondary);
  }

  &__deepPink {
    background: color(--c-tertiary-accent);
  }

  &__lightPink {
    background: color(--c-tertiary-sober);
  }

  img {
    display: inline;
    width: 20px;
    height: 20px;
  }

  @include mix.mq(lg) {
    img {
      width: 28px;
      height: 28px;
    }
  }

  @include mix.hover {
    transform: translate(3px, 3px);
    box-shadow: none;
  }
}

.el_circleBtn,
.el_basicBtn,
.el_rectBtn,
.el_postNavBtn {
  transition: box-shadow 0.15s cubic-bezier(0.09, 0.56, 0.62, 0.73), transform 0.2s cubic-bezier(0.15, 0.62, 0.43, 0.8);
}

.el_rectBtn,
.el_postNavBtn {
  @include mix.hover {
    transform: translate(4px, 4px);
    box-shadow: none;
  }
}

.el_basicBtn {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em 1em 1.5em;
  border: 2px solid color(--c-black);
  border-radius: 10px 50px 50px 10px;
  background: color(--c-secondary);
  box-shadow: 3px 3px 0 color(--c-black);
  font-size: rem(16px);
  font-weight: bold;
  gap: 1em;

  @include mix.mq(lg) {
    font-size: rem(20px);
  }

  &[target='_blank'] {
    padding-right: 3em;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.5em;
      width: 1em;
      height: 1em;
      transform: translateY(-50%);
      background: url(#{$icon-path}/link.svg) no-repeat center center / contain;
    }
  }

  &:not(:disabled) {
    @include mix.hover {
      transform: translate(4px, 4px);
      box-shadow: none;
    }
  }
}

.el_rectBtn {
  width: 100%;
  max-width: 160px;
  padding: 0.75em 0;
  border: 2px solid color(--c-black);
  border-radius: 10px;
  background: color(--c-bg-works);
  box-shadow: 3px 3px 0 color(--c-black);

  &[aria-selected='true'] {
    background: color(--c-primary-accent);
  }
}
