@use '../mixin/' as mix;
@use '../functions/' as *;

.el_title_border {
  width: 100%;
  height: 100%;

  text {
    stroke-width: 3;
    stroke: color(--c-black);
    fill: color(--c-white);
    font-family: var(--font-jp-accent);
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 1.4;
    stroke-linejoin: round;
    paint-order: stroke;
  }

  &__pagination {
    text {
      font-size: rem(16px);

      @include mix.mq(lg) {
        font-size: rem(20px);
      }
    }
  }

  &__pageTitle {
    text {
      font-size: clamp(rem(20px), 3.5vw, rem(32px));
    }
  }
}

.el_title_border__blue {
  height: 24px;

  text {
    fill: color(--c-secondary-accent);
    font-family: var(--font-en);
    font-size: rem(18px);
    letter-spacing: 8px;
    text-shadow: 2px 1.5px 0 color(--c-black);
    text-transform: uppercase;
  }
}

.el_title {
  position: relative;
  right: calc(var(--size-width-inner) + 12px);

  p {
    width: fit-content;
    max-width: calc(100% - var(--size-width-inner));
    padding: 0.5em 1em;
    border: 2px solid color(--c-black);
    border-radius: 10px;
    background: color(--c-primary);
    font-size: rem(16px);
    font-weight: bold;
    letter-spacing: 2px;

    @include mix.mq(lg) {
      font-size: rem(20px);
    }
  }
}

.el_title_dash {
  @extend .el_title;

  width: calc(100% + (var(--size-width-inner) * 2) + 12px);

  p {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
    background: linear-gradient(
      to right,
      color(--c-black) 8px,
      transparent 8px
    );
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 16px 2px;
  }
}
