@use '../mixin/media' as mix;

:root {
  /* inner-width */
  --size-width-inner: calc(16 / 375 * 100vw);
  --size-width-inner-header: calc(24 / 375 * 100vw);

  /* space */
  --size-space-xsm: 8px;
  --size-space-sm: 16px;
  --size-space-md: 24px;
  --size-space-lg: 32px;
  --size-space-xl: 48px;
  --size-space-2xl: 64px;
  --size-space-3xl: 80px;
  --size-space-4xl: 96px;
  --size-space-5xl: 128px;

  /* component */
  --header-height: 72px;
  --footer-height: 60px;
}

@include mix.mq(lg) {
  :root {
    /* inner-width */
    --size-width-inner: calc(102 / 1440 * 100vw);
    --size-width-inner-header: calc(120 / 1440 * 100vw);

    /* space */
    --size-space-xsm: 16px;
    --size-space-sm: 24px;
    --size-space-md: 32px;
    --size-space-lg: 48px;
    --size-space-xl: 64px;
    --size-space-2xl: 80px;
    --size-space-3xl: 96px;
    --size-space-4xl: 128px;
    --size-space-5xl: 160px;

    /* component */
    --header-height: 96px;
    --footer-height: 80px;
  }
}
