---
import Footer from '../layout/Footer.astro';

export interface Props {
  prevUrl?: string;
  nextUrl?: string;
}
const { prevUrl, nextUrl } = Astro.props;
---

<Footer>
  <nav class="bl_footerNav" aria-label="post">
    <ul class="bl_footerNav_post">
      <li>
        {
          prevUrl && (
            <a href={prevUrl} class="el_btn el_postNavBtn el_postNavBtn__prev">
              まえへ
            </a>
          )
        }
      </li>
      <li>
        <a href="/works" class="el_btn el_postNavBtn el_postNavBtn__list"> 一覧</a>
      </li>
      <li>
        {
          nextUrl && (
            <a href={nextUrl} class="el_btn el_postNavBtn el_postNavBtn__next">
              つぎへ
            </a>
          )
        }
      </li>
    </ul>
  </nav><!-- /.bl_footer_pagination -->
</Footer>
