---
import '../styles/layout/_footer.scss';
import '../styles/block/_footer.scss';
import '../styles/block/_drawerNav.scss';
import '../styles/block/_toTop.scss';
import '../styles/element/_copy.scss';
---

<footer class="ly_footer">
  <div class="ly_footer_inner">
    <nav class="bl_footer_pagination" aria-label="pagination">
      <ul>
        <li>
          <a href="/" class="el_btn el_circleBtn el_circleBtn__blue el_arrowBtn_prev" aria-label="トップページへもどる">
            <img src="/icon/arrow.svg" alt="" width="12" height="12" />
          </a>
        </li>
        <li>
          <button type="button" class="el_btn el_tocBtn js_drawerNav_btn" aria-label="もくじメニューを開く" aria-haspopup="true" aria-controls="drawerNav" aria-expanded="false">
            <svg class="el_title_border el_title_border__pagination">
              <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central">もくじ</text>
            </svg>
          </button>
        </li>
        <li>
          <a href="/works" class="el_btn el_circleBtn el_circleBtn__blue el_arrowBtn_next" aria-label="実績ページへ進む">
            <img src="/icon/arrow.svg" alt="" width="12" height="12" />
          </a>
        </li>
      </ul>
    </nav><!-- /.bl_footer_pagination -->

    <div class="bl_drawerNav bl_footer_nav" aria-label="drawer" id="drawerNav" aria-hidden="true">
      <nav class="bl_drawerNav__section">
        <div class="bl_sectionNav">
          <p class="bl_drawerNav_title">実績</p>
          <ul class="bl_sectionNav_list" role="menubar">
            <li class="bl_sectionNav_item"><a href="#crowdworks" role="menuitem">クラウドワークスでの受注</a></li><!-- /.bl_sectionNav_item -->
            <li class="bl_sectionNav_item"><a href="#comunity" role="menuitem">オンラインコミュニティでの受注</a></li><!-- /.bl_sectionNav_item -->
          </ul><!-- /.bl_sectionNav_list -->
        </div><!-- /.bl_sectionNav -->
        <div class="bl_sectionNav">
          <p class="bl_drawerNav_title">自主制作</p>
          <ul class="bl_sectionNav_list" role="menubar">
            <li class="bl_sectionNav_item"><a href="#directlinkgenerator" role="menuitem">ImageURL for direct link Generator</a></li><!-- /.bl_sectionNav_item -->
            <li class="bl_sectionNav_item"><a href="#yurilog" role="menuitem">yurilog.</a></li><!-- /.bl_sectionNav_item -->
            <li class="bl_sectionNav_item"><a href="#portfolio" role="menuitem">Yurika's Portfolio</a></li><!-- /.bl_sectionNav_item -->
          </ul><!-- /.bl_sectionNav_list -->
        </div><!-- /.bl_sectionNav -->
      </nav><!-- /.bl_drawerNav__section -->

      <nav class="bl_drawerNav__page">
        <p class="bl_drawerNav_title">Page</p>
        <ul class="bl_pageNav_list" role="menubar">
          <li class="bl_pageNav_item"><a href="/about" role="menuitem">はじめまして</a></li><!-- /.bl_pageNav_item -->
          <li class="bl_pageNav_item"><a href="/works" role="menuitem">実績と自主制作</a></li><!-- /.bl_pageNav_item -->
          <li class="bl_pageNav_item"><a href="/contact" role="menuitem">お問い合わせ</a></li><!-- /.bl_pageNav_item -->
          <li class="bl_pageNav_item"><a href="/end" role="menuitem">さいごに</a></li><!-- /.bl_pageNav_item -->
        </ul><!-- /.bl_pageNav_list -->
      </nav><!-- /.bl_drawerNav__page -->
    </div><!-- /.bl_drawerNav -->

    <div class="bl_toTop">
      <button type="button" class="el_btn el_circleBtn el_circleBtn__deepPink js_toTop_btn">Top</button>
    </div><!-- /.bl_toTop -->

    <div class="bl_footer_copyWrap">
      <small class="el_copy">&copy; Yurika's Portfolio</small><!-- /.el_copy__top -->
    </div><!-- /.bl_footer_copyWrap -->
  </div><!-- /.ly_footer_inner -->
</footer><!-- /.ly_footer -->
