---
import '../styles/block/_mv.scss';
---

<div class="bl_mv">
  <slot />
  <div class="bl_mv_textBox bl_common_box">
    <img src="/img/logo-wh.png" alt="Yurika's Portfolio" width="284" height="96" />
    <div class="bl_mv_btnWrap">
      <a href="/contact" class="el_btn el_circleBtn el_circleBtn__pink" aria-label="お問い合わせ">
        <img src="/icon/mail.svg" alt="" width="20" height="20" />
      </a>
    </div><!-- /.bl_mv_btnWrap -->
  </div><!-- /.bl_mv_textBox -->
  <!-- /.bl_mv -->
</div>
