<>
  <ul class="bl_pageNav_list" role="menubar">
    <li class="bl_pageNav_item">
      <a href="/about" role="menuitem" tabindex="-1">はじめまして</a>
    </li><!-- /.bl_pageNav_item -->
    <li class="bl_pageNav_item">
      <a href="/works" role="menuitem" tabindex="-1">実績と自主制作</a>
    </li><!-- /.bl_pageNav_item -->
    <li class="bl_pageNav_item">
      <a href="/contact" role="menuitem" tabindex="-1">お問い合わせ</a>
    </li><!-- /.bl_pageNav_item -->
    <li class="bl_pageNav_item">
      <a href="/end" role="menuitem" tabindex="-1">さいごに</a>
    </li><!-- /.bl_pageNav_item -->
  </ul><!-- /.bl_pageNav_list -->
</>
