@use '../mixin/' as mix;
@use '../functions/' as *;

.bl_common_shadow {
  box-shadow: 4px 4px 0 color(--c-black);
}

.bl_common_box {
  @extend .bl_common_shadow;

  border: 2px solid color(--c-black);
  border-radius: 10px;
}
