@use '../mixin/' as mix;
@use '../functions/' as *;

.bl_footerNav {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  border: 2px solid color(--c-black);
  border-radius: 20px 20px 0 0;
  background: color(--c-primary);
}

.bl_footerNav_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  gap: calc(var(--size-space-lg) * 2);

  li {
    &:not(:first-of-type) {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(var(--size-space-lg) * -1);
        width: 2px;
        height: 24px;
        transform: translateY(-50%);
        border-radius: 5px;
        background: color(--c-black);
      }
    }
  }
}

.bl_footerNav_post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  padding: var(--size-space-sm) 0;
  gap: var(--size-space-sm);

  @include mix.mq(md) {
    width: 80%;
  }
}

.bl_footer_copyWrap {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  bottom: calc(48px + var(--footer-height));
  left: -50px;
  transform: rotate(90deg);
  transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
  opacity: 0;

  &.is_display {
    visibility: visible;
    opacity: 1;
  }
}
