@use '../mixin/' as mix;
@use '../functions/' as *;

.bl_footer_pagination {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: var(--footer-height);
  border: 2px solid color(--c-black);
  border-radius: 20px 20px 0 0;
  background: color(--c-primary);

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--size-space-lg) * 2);
  }

  li {
    &:not(:first-of-type) {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(var(--size-space-lg) * -1);
        width: 2px;
        height: 24px;
        transform: translateY(-50%);
        border-radius: 5px;
        background: color(--c-black);
      }
    }
  }
}

.bl_footer_copyWrap {
  position: absolute;
  z-index: -1;
  bottom: calc(48px + var(--footer-height));
  left: -54px;
  transform: rotate(90deg);
}
