@use '../mixin/' as mix;
@use '../functions/' as *;

.bl_header_logo {
  width: 111px;

  img {
    width: 100%;
  }

  @include mix.mq(lg) {
    width: 240px;
  }
}

.bl_header_logo,
.bl_header_link {
  flex-shrink: 0;
}
