@use '../functions/' as *;

.bl_mv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-md);
}

.bl_mv_textBox {
  position: relative;
  width: calc(327 / 343 * 100%);
  max-width: 376px;
  padding: 24px 0 16px;

  > img {
    width: calc(248 / 311 * 100%);
    margin: 0 auto;
  }
}

.bl_mv_btnWrap {
  position: absolute;
  top: -24px;
  left: -18px;
}
