.bl_prof {
  margin-top: -40px;
}

.bl_prof_img {
  width: 165px;
  margin: 0 auto;
}

.bl_prof_outline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -0.5em;

  li {
    margin-right: 0.5em;

    &:not(:first-of-type) {
      position: relative;
      padding-left: 1em;

      &::before {
        content: '/';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}

.bl_prof_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-md);
}

.bl_prof_link,
.bl_prof_text {
  margin-top: var(--size-space-lg);
}
