@use '../mixin/' as mix;
@use '../functions/' as *;

.bl_progressbar {
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background: color(--c-white);
  appearance: none;
  box-shadow: 0 0 0 2px color(--c-black);

  &::-webkit-progress-bar {
    border-radius: 50px;
    background: color(--c-white);
    box-shadow: 0 0 0 2px color(--c-black);
  }

  &::-webkit-progress-value {
    border-radius: 50px;
    background: color(--c-secondary);
    box-shadow: 0 0 0 2px color(--c-black);
  }

  &::-moz-progress-bar {
    border-radius: 50px;
    background: color(--c-secondary);
    box-shadow: 0 0 0 2px color(--c-black);
  }

  &::-ms-fill {
    border-radius: 50px;
    background: color(--c-secondary);
    box-shadow: 0 0 0 2px color(--c-black);
  }
}
