@use '../mixin/' as mix;
@use '../functions/' as *;

.bl_toTop {
  position: absolute;
  top: -24px;
  right: -10px;

  @include mix.mq(lg) {
    top: -40px;
    right: -20px;
  }

  > button {
    font-family: var(--font-en);
    font-size: rem(10px);
    font-weight: bold;
    text-transform: uppercase;

    @include mix.mq(lg) {
      font-size: rem(18px);
    }
  }
}
