@use '../mixin/' as mix;
@use '../functions/' as *;
@use '../variables/other' as *;

.bl_works {
  @include mix.mq(lg) {
    display: flex;
    gap: 40px;
  }
}

.bl_works_selectItem {
  position: relative;
  width: 100%;
  padding-top: var(--size-space-xl);
}

.bl_works_info {
  position: relative;
  margin-left: 24px;
}

.bl_works_thumbnails {
  width: calc(255 / 300 * 100%);
  height: 240px;
  margin: 0;
  overflow: hidden;
  border: 2px solid color(--c-black);
  border-radius: 20px;
  background: color(--c-bg-works);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 48%;
      height: 48%;
      object-fit: contain;
    }
  }

  &__noImg {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;

    img {
      width: 80%;
      height: auto;
    }
  }

  &__list {
    width: 100%;
    height: 192px;
  }
}

.bl_works_title {
  position: relative;
  top: -16px;
  left: 16px;
  max-width: 186px;
  padding: 0.5em 1em;
  background: color(--c-secondary);

  p {
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5;
  }

  &__list {
    top: -16px;
    left: 50%;
    max-width: 176px;
    padding: 0.571em;
    transform: translateX(-50%);
  }
}

.bl_works_btnWrap {
  position: absolute;
  right: 8px;
  bottom: 32px;
}

.bl_works_moreBtn {
  position: relative;
  width: 55px;
  height: 55px;

  &::before {
    content: '';
    position: absolute;
    top: -31px;
    right: -25px;
    width: 75px;
    height: 75px;
    background: url(#{$img-path}/more.svg) no-repeat center center / contain;
  }
}

.bl_works_summary {
  position: relative;
  width: 100%;
  padding-top: calc(40px - 16px);

  &::before {
    content: '';
    position: absolute;
    top: -16px;
    left: 50%;
    width: 2px;
    height: 40px;
    transform: translateX(-50%);
    background: color(--c-black);
  }

  table {
    width: 100%;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: separate;
    border: 2px solid color(--c-black);
    border-radius: 10px;
  }

  tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.143em;

    &:nth-of-type(even) {
      background: color(--c-bg-works);
    }
  }

  th,
  td {
    word-break: break-all;
  }

  td {
    a {
      position: relative;
      padding-right: 1.5em;
      color: color(--c-black);
      font-size: rem(12px);
      letter-spacing: 0;
      text-decoration: underline;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 2px;
        width: 14px;
        height: 14px;
        background: url(#{$icon-path}/link.svg) no-repeat center center / contain;
      }
    }
  }
}

.bl_works_linkWrap {
  margin-top: var(--size-space-md);
  text-align: center;
}

.bl_works_slide {
  position: relative;
  margin-top: var(--size-space-2xl);
}

.bl_works_list {
  display: flex;
  gap: 16px;
  overflow-x: scroll;

  li {
    position: relative;
    flex-shrink: 0;
    width: 217px;
    padding: 14px 0 0 24px;
  }

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid color(--c-black);
    border-radius: 20px;
    background: color(--c-secondary);
  }
}

.bl_works_itemLabel {
  position: absolute;
  top: 0;
  left: 0;
}

.bl_works_slideBtn {
  position: absolute;
  top: 50%;
  right: -32px;
  transform: translateY(-50%);

  img {
    width: 24px;
    height: 24px;
  }
}
