.js_anime {
  opacity: 0;

  &__boundIn {
    &.is_active {
      animation: boundFadeIn 0.6s ease forwards;
      opacity: 1;
    }
  }

  &__softIn {
    transition: opacity 0.8s ease-out 0.2s;

    &.is_active {
      opacity: 1;
    }
  }
}

@keyframes boundFadeIn {
  0% {
    scale: 0.8 0.8;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  60% {
    scale: 1.05 1.05;
  }

  100% {
    scale: 1 1;
  }
}
