@use '../mixin/' as mix;
@use '../functions/' as *;

.un_404_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border: 2px solid color(--c-black);
  border-radius: 50%;
  background: color(--c-warning);

  img {
    width: 56px;
    height: 56px;
  }
}
