@use '../mixin/' as mix;
@use '../functions/' as *;

.un_end {
  max-width: 400px;
  margin: var(--size-space-2xl) auto 0;

  @include mix.mq(lg) {
    max-width: 640px;
  }
}

.un_end_signature {
  margin-top: 1.5em;
  text-align: right;
}
