---
import '../styles/layout/_footer.scss';
import '../styles/block/_footer.scss';
import '../styles/block/_toTop.scss';
import '../styles/element/_copy.scss';
---

<>
  <footer id="footer" class="ly_footer">
    <div class="ly_footer_inner">
      <slot />

      <div class="bl_toTop">
        <button
          type="button"
          class="el_btn el_circleBtn el_circleBtn__deepPink"
          id="js_toTop_btn">Top</button
        >
      </div><!-- /.bl_toTop -->

      <div class="bl_footer_copyWrap" id="js_copy">
        <small class="el_copy">&copy; Yurika's Portfolio</small
        ><!-- /.el_copy__top -->
      </div><!-- /.bl_footer_copyWrap -->
    </div><!-- /.ly_footer_inner -->
  </footer><!-- /.ly_footer -->
</>

<script>
  const toTopBtn = document.getElementById('js_toTop_btn') as HTMLButtonElement;
  const toTopBtnPositionRate = 0.3;
  const toTopBtnDisplayPosition =
    document.body.clientHeight * toTopBtnPositionRate;

  const copy = document.getElementById('js_copy') as HTMLElement;
  const windowHeight = window.innerHeight;
  const docHeight = document.body.clientHeight;
  const bottomPosition = docHeight - windowHeight;

  window.addEventListener('scroll', () => {
    let scrollY = window.scrollY;

    // toTopの表示・非表示
    if (scrollY > toTopBtnDisplayPosition) {
      toTopBtn.classList.add('is_display');
    } else {
      toTopBtn.classList.remove('is_display');
    }
    // copyの表示・非表示
    if (scrollY >= bottomPosition) {
      copy.classList.add('is_display');
    } else {
      copy.classList.remove('is_display');
    }
  });

  // ページトップ移動
  toTopBtn.addEventListener('click', () => {
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  });
</script>
