---
import PageNav from '../components/PageNav.astro';
import FooterMinimal from '../components/FooterMinimal.astro';
---

<main>
  <div class="un_top_startBtn">
    <a class="el_btn el_basicBtn" href="/about"
      >はじめからみる<img
        src="/icon/arrow-lg.svg"
        alt=""
        width="56"
        height="8"
        loading="lazy"
      />
    </a>
  </div><!-- /.un_top_startBtn -->

  <nav class="un_topNav">
    <div class="un_topNav_title">
      <svg class="el_title_border">
        <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central"
          >もくじ</text
        >
      </svg>
    </div><!-- /.un_topNav_title -->
    <div class="un_topNav_contents bl_common_box bl_common_shadow">
      <PageNav />
    </div><!-- /.un_topNav_contents -->
  </nav><!-- /.un_topNav -->
</main>
<FooterMinimal />
